h1(style="border-bottom: 2px solid black") Node Imageable Server CloudApp
//- p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

//- h2 Upload a new file
//- form(action='/', method='post', enctype='multipart/form-data')
//-   input(type='file', name='newImage') foo
//-   input(type='submit')

br
br
br

h2 Uploaded images

- for item in cloudappItems
  div.cloudappItem.modal.hide.fade(style="display: none", id="modal#{item.id}")
    pre.prettyprint.linenums
      a(href=item.remote_url)
        img(align="left", height="80", width="80", src="/fit/magic/#{item.name}?url=#{encodeURIComponent(item.remote_url)}&size=80x80")

div.cloudappItems
  - for item in cloudappItems
    a(data-toggle="modal", href="#modal#{item.id}")
      img(src=item.thumbnail_url)

script
  $(function() {
    $('.cloudappItem').each(function() {
      var $div = $(this)
        , $pre = $("pre", $div)
        , $img = $("img", $pre)

      $img.attr('src', 'http://' + window.location.host + $img.attr('src'))
      $pre.html($pre.html().replace(/</g, '&lt;').replace(/>/g, '&gt;'))
    })

    window.prettyPrint && prettyPrint()
  })
